.allResercation-main{
    width: 100%;
    padding-bottom: 25px;
    background-image: url('../../../public/Images/inner-space-1026451_1920.jpg');
    background-size:cover;
}

@media (max-width: 768px) {

    .allResercation-main{
        background-image: url('../../../public/Images/pexels-palumalerba-2607113.jpg');
    }
  }
  