@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans+Warang+Citi&family=Righteous&display=swap');

.home-main{
    width: 100%;
    padding-bottom: 60px;
    background-image: url('../../../public/Images/hotel-2128577_1920.jpg');
    background-size: cover;
}
.cOne{
    font-size:25px;
    margin-bottom:-20px;
    color:white;
    padding:15px;
    font-weight:500
}
.cTwo{
    color: rgb(255, 255, 255);
    font-size:75px;
    font-family: "Lora", serif;
    text-transform:uppercase;
    background-color: #205ed1;
    padding: 0px 10px;
}
.cThree{
    font-size:20px;
    padding:10px 200px;
    text-align:center;
    color:white;
    font-weight:400;
}
.main-content{
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter:blur(20px); 
    border-radius: 30px;
    width: 80%;
    position: relative;
    left: 10%;
    right: 10%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.details-card{
    margin: 50px 0px;
    display:flex;
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(16, 104, 236);
}
.details-card > div {
    padding: 15px 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.contents-grid {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    transition-property: color;
    transition-duration: 0.2s;
    border-radius: 25px;
  }
.contents-grid:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -80%;
    left:30% ;
    width: 100px;
    height: 100px;
    background: #205ed1;
    border-radius: 100%;
    transform: scale(1);
    transition-timing-function: ease-in-out;
}
.contents-grid:hover, .contents-grid:focus, .contents-grid:active {
    color: white;

  }
.contents-grid:hover:before, .contents-grid:focus:before, .contents-grid:active:before {
    transform: scale(8);
    transition-duration: 1s;

  }
.contents-grid:before {
    transition: transform 0.5s ease-out;
}

@media (max-width: 768px) {

    .home-main{
        background-image: url('../../../public/Images/pexels-camcasey-1334605.jpg');
        width: 100%;
        background-size:cover;
    }
    .details-card{
       flex-direction: column;  
    }
    .details-card > div {
        padding: 30px 40px;
    }
    .contents-grid:before {
        position: absolute;
        top: -60px;
        left:-50px ;
    }
    .cOne{
        font-size: 18px;
    }
    .cTwo{
        text-align: center;
        font-size: 50px
    }
    .cThree{
        padding: 15px 15px;
        font-size: 16px;
    }
  }