*{
    margin: 0;
    padding: 0;
    font-family: "Anek Devanagari", sans-serif;
    font-weight: 500;
}

.main-mobile{
  display: none;
}

.main-container {
  width:100%;
  height: 70px;
  display: flex;
}
.material-symbols-outlined{
  color: #000000;
}
.nav_btns {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #000000;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 18px;
  text-decoration: none;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.nav_btns:hover,
.nav_btns:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.nav_btns:active {
  background: var(--color);
  color: #fff;
}


.nav_auth_btns {
  align-self: center;
  background-color: transparent;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 3px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  line-height: 25px;
  outline: none;
  padding: 13px 30px;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.nav_auth_btns:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
  color: #680072;
}

.nav_auth_btns:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

@media (max-width: 768px) {
  .logOutBtn{
    font-size:18px;
    padding-top:20px;
    padding-bottom:20px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    font-weight:400;
    background:none;
    color:white;
    border-left:none ;
    border-right:none ;
    border-bottom:1px solid white;
  }
  .main-container {
    display: none;
  }
  .main-mobile{
    display: flex;
  }
}

@media (max-width: 480px) {
  .main-container {
    display: none;
  }
  .main-mobile{
    display: flex;
  }
}