.rooms-main{
    width: 100%;
    padding-bottom: 25px;
    background-image: url('../../public/roof-top-pool-3715118_1920.jpg');
    background-size: cover;
}

@media (max-width: 768px) {

    .rooms-main{
        background-image: url('../../public/pexels-francesco-ungaro-96444.jpg');
    }
  }