.signUp-main{
    width: 100%;
    height: 100vh;
    background-image: url('../../public/blur-pool-hotel-resort.jpg');
    background-size: cover;
}
.signUp-form-body{
    margin-top: 30px;
    border-radius:35px;
    width:50%;
    border:2px solid rgb(0, 0, 0);
    padding: 20px;
    position:relative;
    top: 10%;
    left:22%;                    
    display:flex;          
    flex-direction:column;          
    align-items:center;
    background-color:transparent;
    backdrop-filter:blur(30px); 
}

@media (max-width: 768px) {
    .signUp-main{
        padding-right: 50px;
        padding-bottom: 50px;
        background-image: url('../../public/blur-pool-hotel-resort.jpg');
        background-size: cover;
    }
    .signUp-form-body{
        margin-top: 30px;
        border-radius:35px;
        width:90%;
        border:2px solid rgb(0, 0, 0);
        padding: 20px;
        position:relative;
        top: 20%;
        left:5%;                    
    }
    
}